{% extends "layout/_layout.desktop.html" %}

{% block header %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
<div class="r2-wrap-normal block-blank">
    <div class="r2-row-center">
        <div class="r2-grid-12">
            <span style="line-height:40px; color:#333; font-size:20px; padding:20px;display:block; max-width:700px; margin:0 auto;">{{ userName }}</span>
            <span style="line-height:20px; color:#333; font-size:14px; padding:20px; display:block;height:400px;border-top:1px solid #ccc; max-width:700px; margin:0 auto;">用户界面，！￥#@！￥%@#%#@</span>

        </div>
    </div>
</div>
{% endblock %}