.block-list{
    padding-top:600px;
    z-index:30;
    .grid-list{
        height:1000px;
        background-image:url(/image/forum-sample.png);
        background-position:center 0;
        background-repeat:no-repeat;
        background-color:#fff;
    }
}