.block-blank{
    height:700px;
}

.block-list{
    z-index:30;
    .grid-list{
        height:1000px;
        background-image:url(/image/forum-sample.png);
        background-position:center center;
        background-repeat:no-repeat;
        background-color:#fff;
    }
}