<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script type="text/javascript" src="/lib/jquery.js"></script>
    <script type="text/javascript" src="/layout/r2.desktop.script.js"></script>
    <script type="text/javascript" src="/layout/r2.desktop.style.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/layout.css" />
    <title>{{ title }}</title>
    {% block header %}{% endblock %}
</head>
<body>
    {% include "layout/_partial_header.desktop.html" %}
    {% block content %}{% endblock %}
    <footer><span>&copy; DOGCAN FORUM 2015</span></footer>
</body>
</html>