<div class="r2-wrap-fixed">
    <div class="r2-row-center">
        <div class="r2-grid-full header">
            <div class="header-line"></div>
            <div class="header-nav header-nav-forum">
                <div class="icon-header icon-header-forum">
                    <div class="bubble_ right_ bubble_1"><div class="content_">...</div></div>
                    <div class="bubble_ left_ bubble_2"><div class="content_">...</div></div>
                </div>
                <div class="line_"></div>
                <div class="text_">论 坛</div>
            </div>

            <div class="header-nav header-nav-tool">
                <div class="icon-header icon-header-tool">
                    <div class="field_">
                        <div class="box_ top_"></div>
                        <div class="box_ bottom_"></div>
                        <div class="line_"></div>
                        <div class="circle_"></div>
                    </div>
                    <div class="tip_ tip_1 right_"></div>
                    <div class="tip_ tip_2 left_"></div>
                    <div class="tip_ tip_3 right_"></div>
                </div>
                <div class="line_"></div>
                <div class="text_">工 具</div>
            </div>

            <div class="header-nav header-nav-about">
                <div class="icon-header icon-header-about">
                    <div class="face_">
                        <div class="eye_ left_"></div>
                        <div class="eye_ right_"></div>
                        <div class="mouse_"></div>
                        <div class="horn_ left_"></div>
                        <div class="horn_ right_"></div>
                    </div>
                </div>
                <div class="line_"></div>
                <div class="text_">关 于</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var navBtn = document.getElementById("nav-" + "@ViewBag.PageIdx");
    if (navBtn != null) navBtn.setAttribute('class', 'actived');
</script>