<div class="r2-wrap-absolute block-header">
    <div class="r2-row-center">
        <div class="r2-grid-12 grid-logo">
            <div class="logo_"></div>
        </div>
    </div>
    <div class="r2-row-center row-header">
        <div class="r2-grid-full header">
            <div class="header-line"></div>
            <div class="header-blank"></div>
            <a class="header-nav header-nav-forum animation" id="header-nav-forum" href="/forum">
                <div class="icon-header icon-header-forum">
                    <div class="bubble_ right_ bubble_1"><div class="content_">...</div></div>
                    <div class="bubble_ left_ bubble_2"><div class="content_">...</div></div>
                </div>
                <div class="line_"></div>
                <div class="text_">论&nbsp;&nbsp;坛</div>
            </a>

            <a class="header-nav header-nav-tool animation" id="header-nav-tool" href="/tool">
                <div class="icon-header icon-header-tool">
                    <div class="field_">
                        <div class="box_ top_"></div>
                        <div class="box_ bottom_"></div>
                        <div class="line_"></div>
                        <div class="circle_"></div>
                    </div>
                    <div class="tip_ tip_1 right_"></div>
                    <div class="tip_ tip_2 left_"></div>
                    <div class="tip_ tip_3 right_"></div>
                </div>
                <div class="line_"></div>
                <div class="text_">工&nbsp;&nbsp;具</div>
            </a>

            <a class="header-nav header-nav-about animation" id="header-nav-about" href="/about">
                <div class="icon-header icon-header-about">
                    <div class="face_">
                        <div class="eye_ left_"></div>
                        <div class="eye_ right_"></div>
                        <div class="mouse_"></div>
                        <div class="horn_ left_"></div>
                        <div class="horn_ right_"></div>
                    </div>
                </div>
                <div class="line_"></div>
                <div class="text_">关&nbsp;&nbsp;于</div>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var navBtn = document.getElementById("header-nav-{{ pageIdx }}");
    if (navBtn != null) {
        navBtn.className = navBtn.className.replace(/\banimation\b/, '') + ' actived';
        navBtn.href = '#';
    }
</script>