<div class="r2-wrap-normal block-list">
    <div class="r2-row-center">
        <div class="r2-grid-full grid-list">
            <table class="topicList" border="0" cellpadding="0" cellspacing="0">
                <thead class="header_">
                    <tr>
                        <th class="category_ clickable_">球队</th>
                        <th class="title_">帖子</th>
                        <th class="user_">参与者</th>
                        <th class="reply_ clickable_">回复</th>
                        <th class="activity_ clickable_">活跃</th>
                    </tr>
                </thead>
                <tbody class="content_"></tbody>
            </table>
            <div class="topicLoading">
                <div class="loading-icon">
                    <div class="left_"><div class="anim_"></div></div>
                    <div class="right_"><div class="anim_"></div></div>
                </div>
            </div>
            <div class="topicEnd">没有更多帖子了哦 :)</div>
        </div>
    </div>
</div>

