{% extends "layout/_layout.desktop.html" %}

{% block header %}
<link type="text/css" rel="stylesheet" href="/css/forum.css" />
{% endblock %}

{% block script %}
<script type="text/javascript" src="/lib/ScrollTask.js"></script>
<script type="text/javascript" src="/js/forum.js"></script>
<script type="text/javascript">
    $(function () {
        var forum = new DogCan.Forum.Manager({
            topic: $.parseJSON('{{ topic|tojson|safe }}')
        });
    });
</script>
{% endblock %}

{% block content %}
    {% include "forum/_partial_logo.html" %}
    {% include "forum/_partial_category.html" %}
    {% include "forum/_partial_list.html" %}
{% endblock %}